# === DEPENDENCJE / PAKIETY ===
node_modules/

# === ŚRODOWISKO ===
.env
.env.local
.env.development
.env.production

# === BUILD I OUTPUT ===
.next/
out/
dist/
.cache/
.turbo/
coverage/

# === LOGI ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === SYSTEM / EDITORY ===
.DS_Store
Thumbs.db
.vscode/
.idea/
